
#root {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;	
}

.bar {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 33.33%;
	justify-content: center;
	text-align: center;
	width: 100%;	
}

#cat {
	background-color: #000;
}

#einstein {
	background-color: #dd0000;
}

#mouse {
	background-color: #ffce00;
}
